@font-face {
    font-family: 'Libre Baskerville';
    src: url('LibreBaskerville-Bold.eot');
    src: url('LibreBaskerville-Bold.eot?#iefix') format('embedded-opentype'),
        url('LibreBaskerville-Bold.woff2') format('woff2'),
        url('LibreBaskerville-Bold.woff') format('woff'),
        url('LibreBaskerville-Bold.svg#LibreBaskerville-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Libre Baskerville';
    src: url('LibreBaskerville-Regular.eot');
    src: url('LibreBaskerville-Regular.eot?#iefix') format('embedded-opentype'),
        url('LibreBaskerville-Regular.woff2') format('woff2'),
        url('LibreBaskerville-Regular.woff') format('woff'),
        url('LibreBaskerville-Regular.svg#LibreBaskerville-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
}

